Repository iamtejasbirari/web-app-docker: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Backend, Build Frontend

Build Backend:
                      steps {
                          dir('backend') {
                              script {
                                  docker.build("${BACKEND_IMAGE}:${VERSION}")
                                  env.BUILD_BACKEND = "true"
                              }
                          }
  ...

Build Frontend:
                      steps {
                          dir('frontend') {
                              script {
                                  docker.build("${FRONTEND_IMAGE}:${VERSION}")
                                  env.BUILD_FRONTEND = "true"
                              }
                          }
  ...

added deployment
  k8s/backend/deployment.yaml
  k8s/backend/service.yaml
  k8s/frontend/deployment.yaml
  k8s/frontend/service.yaml
Due: none

updated backend deployment
  k8s/backend/deployment.yaml
Due: none

updated deployment
  k8s/backend/deployment.yaml
Due: none

added health check
  backend/app.js
Due: Build Backend

added force build option
  Jenkinsfile
Due: none

create nginx proxy for backend
  frontend/nginx.conf
Due: Build Frontend

update readiness probe
  k8s/frontend/deployment.yaml
  k8s/frontend/service.yaml
Due: none

added ns
  k8s/frontend/service.yaml
Due: none

few changes
  frontend/nginx.conf
Due: Build Frontend

removed lts tag
  Jenkinsfile
  k8s/backend/deployment.yaml
  k8s/frontend/deployment.yaml
Due: none

few changes to jenkinsfile
  Jenkinsfile
Due: none

dummy commit
  backend/app.js
  frontend/src/App.js
Due: Build Backend, Build Frontend

remove docker compose
  docker-compose.yaml
Due: none

Path conditions:
  Build Backend: any of: backend/**
  Build Frontend: any of: frontend/**
